<!DOCTYPE html>
<html>
<head>
	<title>Angular Learning</title>
	<script type="text/javascript" src="assets/ng/angular.min.js"></script>
	<script type="text/javascript" src="assets/ng/angular-resource.js"></script>
	<script type="text/javascript" src="assets/ng/angular-route.min.js"></script>
	<!-- <script type="text/javascript" src='controllers/invoice1.js'></script> -->
	<!-- <script type="text/javascript" src='factory/finance.js'></script>
	<script type="text/javascript" src='controllers/invoice2.js'></script> -->
	<script type="text/javascript" src='controllers/functions.js'></script>
	<script type="text/javascript" src='modules/directives.js'></script>

</head>
<style>
.my-form {
   transition:all linear 0.5s;
   background: transparent;
 }
 .my-form.ng-invalid {
   background: red;
 }
 .my-form.ng-valid{
 	background:green;
 }
</style>
<body>
<!-- <div ng-app='invoice2' ng-controller='InvoiceController as invoice'>
	<b>Invoice</b>
	<div>
		Quantity: <input type="number" min='0' ng-model='invoice.qty' required>

	</div>
	<div>
		Costs: <input type="number" min="0" ng-model='invoice.cost' required>
		<select ng-model='invoice.inCurr'>
			<option ng-repeat='c in invoice.currencies'>{{c}}</option>
		</select>
	</div>
	<div>
		<b>Total:</b>
		<span ng-repeat='c in invoice.currencies'>
			{{invoice.total(c)  | currency:c}}
		</span><br>
		<button ng-click='invoice.pay()'>Pay</button>
	</div>
</div> -->
<!-- <div ng-app='functions' ng-controller='copyExample'>
	<form novalidate>
		<label>Name: <input type="text" ng-model="user.name"/></label><br>
		<label>Age: <input type="number" ng-model="user.age"/></label><br>
		Gender: <label><input type="radio" ng-model="user.gender" value="male" />Male</label>
		<label><input type="radio" ng-model="user.gender" value="female" />female</label><br />
		<button ng-click="reset()">RESET</button>
    	<button ng-click="update(user)">SAVE</button>
	</form>
	<pre>form = {{user | json}}</pre>
  <pre>leader = {{leader | json}}</pre>
</div> -->
<!-- <div ng-app='functions' ng-controller='foreachExample'>
	<p>{{logs}}</p>
</div> -->
<h1>Form Directives</h1>
<div ng-app='directives' ng-controller='FormController'>
	<form name="testForm" ng-controller='FormController' class='my-form'>
		Type: <input type="text" name="usertype" ng-model='userType' required>
		<span class="error" ng-show="testForm.userType.$error.required">Required</span><br>
		<label>Value2:
    		<input type="checkbox" ng-model="checkboxModel.value2" ng-true-value="'You Checked'" ng-false-value="'You Unchecked'">
   		</label><br/>

   		<tt>value2 = {{checkboxModel.value2}}</tt><br/>

   		<label>
   			Email: <input type="email" name="userEmail" ng-model="email" required>
   			<span class="error" ng-show="testForm.userEmail.$error.required">Email is Required</span>
   			<span  ng-show="testForm.userEmail.$error.email">Invalid Email</span>
   		</label>
	</form>
	<br>
</div>
</body>
</html>